@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
*,
 ::before,
 ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Jost', sans-serif;
}

body {
    background: #333;
    text-decoration: none;
}

.titre-page {
    text-align: center;
    padding: 40px 0;
    border-color: #f1f1f1;
    font-size: 50px;
    line-height: 1;
    -webkit-text-stroke: 2px #8F8181;
    color: transparent;
    margin-left: 50px;
    background-clip: text;
    -webkit-background-clip: text;
}

.sous-titre {
    text-align: center;
    padding: 30px;
    color: #8F8181;
}

.box-timeline {
    width: 100%;
    height: 2000px;
    background: #f1f1f1;
    position: relative;
    padding: 30px 0 100px 0;
    margin-bottom: 50px;
}

.ligne {
    height: 1690px;
    width: 8px;
    margin: 0 auto;
    background: #333;
}

.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #FF5C5C;
    position: absolute;
    border: 11px solid #333;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}


/**/

.r1 {
    top: 30px;
}

.r2 {
    top: 240px;
}

.r3 {
    top: 410px;
}

.r4 {
    top: 600px;
}

.r5 {
    top: 860px;
}

.r6 {
    top: 1100px;
}

.r7 {
    top: 1340px;
}


.r8 {
    top: 1540px;
}

.r9 {
    top: 1690px;
}

.box {
    color: #333;
    width: 340px;
    min-height: 100px;
    padding: 15px;
    border-radius: 20px;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 10px 15px #728F7A;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.b1 {
    top: 30px;
    left: calc(50% - 270px);
}

.b2 {
    top: 240px;
    left: calc(50% + 270px);
}

.b3 {
    top: 410px;
    left: calc(50% - 270px);
}

.b4 {
    top: 600px;
    left: calc(50% + 270px);
}

.b5 {
    top: 860px;
    left: calc(50% - 270px);
}

.b6 {
    top: 1100px;
    left: calc(50% + 270px);
}

.b7 {
    top: 1340px;
    left: calc(50% - 270px);
}

.b8 {
    top: 1540px;
    left: calc(50% - 270px);
}

.b9 {
    top: 1690px;
    left: calc(50% - 270px);
}


.box p {
    line-height: 20px;
    font-size: 15px;
    margin: 10px 0 20px 0;
}


@media screen and (max-width: 1000px) {
    .ligne {
        position: relative;
        left: 200px;
    }
    .rond {
        left: calc(50% + 200px);
    }
    .box {
        left: calc(50% - 50px);
    }

    .titre-page {
        font-size: 30px;
    }

    .sous-titre {
        font-size: 20px;
    }

}